@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  /* para que los elementos no salgan del contenedor */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-arround;
    transition: 0.7s;
    padding: 16px 10px;
    height: 100px;
    /* width: 100%; */
    width: 100vw;
    z-index: 100;
}

nav.abajo {
    background: rgba(38, 24, 51, 0.6);
    padding: 12px 20px;
}

.enlace {
    position: absolute;
    padding: 6px 50px 20px;
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    border-radius: 4px;
    margin-right: 20px;
    transition: 1s;
}

.main-name {
    color: white;
    font-weight: bold; /* negrita */
    font-size: 18px;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: 0.5s;
} 

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    position: relative;
    color: #21d5fa;
    font-size: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 12px;
}

/* nuevo */
li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li a:hover {
    color: #ffffff;
}

li a:hover:after {
    width: 100%;
}

.checkbtn {
    font-size: 34px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

nav.abajo .main-name,
nav.abajo ul li a {
    color: white;
}

nav.abajo .logo,
nav.abajo ul li a:hover {
    color: #21d5fa;
}

img.logo:hover {
    transform: scale(1.2);
    rotate: 360deg;
}

.main-name:hover {
    color:chocolate;
}

span.nombre:hover {
    font-size: 1.8rem;
    color: red;
}

/**********************************************/
/* **** Zona central de la primer pagina **** */ 
#zona1{
    background: url(../img/fondo11.jpg) no-repeat;   /* Es para que sea SOLO una imagen */
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 100px);

    /* nuevo */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-proyectos {
    max-width: 100%;
    text-align: center;
}
  
.img-proyectos h1 {
    color: #FF4081;
    font-size: 5.8rem;
    margin-bottom: 20px;
    text-shadow: 6px 4px #070707;

    /* fotograma */
    animation: slide-in 20s infinite;
    animation-timing-function: linear;
}

/* **** Fotograma de LA INFORMATICA, presentacion h1 **** */
@keyframes slide-in {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(-150%);
    }
}


.ol-proyectos .li-proyectos {
    /* display: flex; */
    line-height: 50px;
    margin: 0 5px;
}

.ol-proyectos .li-proyectos a {
    /* position: relative; */   /* Les anule esto, para que NO ponga el subrayado rojo */
    color: #ffffff;
    font-size: 2em;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 12px;
}

.ol-proyectos .li-proyectos a:hover {
    color: #f177cd;
}


/**********************************************/
/* *********** Seccion CONFERENCIA ********** */
/* ---- todos los h2 de los contenedores ---- */
.contenedor h2 {
    display: flex;
    justify-content: center;

    padding-bottom: 30px;
    font-size: 2em;
}

.container1 {
    width: 100vw;
    background-color: rgb(215, 243, 243);
    padding-top: 120px;
    padding-bottom: 100px;
}

.card-container1 {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(420px, 100%), 1fr));
    gap: 2.2em;
}

.card1 {
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 7px 7px 4px rgba(34, 34, 34, 0.6);
    background-color: #f0f0f0;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.card1 img {
    height: 100%;
    width: 100%;
}


/**********************************************/
/* *********** Seccion PASTELERIA *********** */
.container2 {
    width: 100vw;
    background-color: rgb(248, 233, 246);
    padding-top: 120px;
    padding-bottom: 100px;
}

.card-container2 {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(420px, 100%), 1fr));
    gap: 2.2em;
}

.card2 {
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 7px 7px 4px rgba(34, 34, 34, 0.6);
    background-color: #f0f0f0;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.card2 img {
    height: 100%;
    width: 100%;
}


/**********************************************/
/* *********** Seccion PELUQUERIA *********** */
.container3 {
    width: 100vw;
    background-color: rgb(248, 248, 214);
    padding-top: 120px;
    padding-bottom: 100px;
}

.card-container3 {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(420px, 100%), 1fr));
    gap: 2.2em;
}

.card3 {
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 7px 7px 4px rgba(34, 34, 34, 0.6);
    background-color: #f0f0f0;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.card3 img {
    height: 100%;
    width: 100%;
}



/**********************************************/
/* *********** Seccion UBINET SA *********** */
.container4 {
    width: 100vw;
    background-color: rgb(216, 214, 248);
    padding-top: 120px;
    padding-bottom: 100px;
}

.card-container4 {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(420px, 100%), 1fr));
    gap: 2.2em;
}

.card4 {
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 7px 7px 4px rgba(34, 34, 34, 0.6);
    background-color: #f0f0f0;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.card4 img {
    height: 100%;
    width: 100%;
}



/**********************************************/
/* *********** Seccion CUEBANITA *********** */
.container5 {
    width: 100vw;
    background-color: rgb(248, 214, 217);
    padding-top: 120px;
    padding-bottom: 100px;
}

.card-container5 {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(420px, 100%), 1fr));
    gap: 2.2em;
}

.card5 {
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 7px 7px 4px rgba(34, 34, 34, 0.6);
    background-color: #f0f0f0;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.card5 img {
    height: 100%;
    width: 100%;
}

/* 
img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.gallery__container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;

    grid-template-columns:
        repeat(auto-fit, minmax(280px, 1fr));
    gap: 2.2em;
}


.gallery__container img {
    height: 100%;
} */



/*************************/
/* ******* Footer ****** */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

p.contac {
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #333;
    padding-bottom: 10px;
    text-shadow: #2fcdcd 2px 2px;
}

p.mimail {
    font-size: 1.2rem;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
  
.social-links li {
    color: #ffffff;
    padding: 8px 10px;
}

.social-links a {
    font-size: 1.4rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}
  
.social-links a:hover {
    color: #2fcdcd;
    background-color: #333;
}

p.copying {
    font-size: 1.1rem;
    font-stretch: ultra-expanded;
    color:rgb(119, 194, 109)
}


/* **** Meedia Query **** */
/* medias query */
@media (max-width: 952px) {
    .enlace {
        padding-left: 16px;
        order: 1;
    }

    .nombre {
        font-size: 18px;
    }
    
    nav ul li a {
        font-size: 16px;
    }
}


@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        /* height: 100vh; */
        height: 60vh;
        background: rgba(44, 62, 80, 0.9);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        overflow-y: auto;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left:0;
    }

    .presentacion h1 {
        font-size: 4rem;
        
        animation: slide-in 20s infinite;
        animation-timing-function: linear;
    }
    
    /* **** Fotograma de LA INFORMATICA, presentacion h1 **** */
    @keyframes slide-in {
        from {
            transform: translateX(140%);
        }
        to {
            transform: translateX(-140%);
        }
    }
    
    .presentacion p {
        color: white;
        font-weight: 400;
        font-size: 38px;
    }
}


@media (max-width: 490px) {
    .presentacion h1 {
        font-size: 3rem;
        /* fotograma */
        animation: slide-in 18s infinite;
        animation-timing-function: linear;
    }
    
    /* **** Fotograma de LA INFORMATICA, presentacion h1 **** */
    @keyframes slide-in {
        from {
            transform: translateX(120%);
        }
        to {
            transform: translateX(-120%);
        }
    }
    
    .presentacion p {
        color: white;
        font-weight: 300;
        font-size: 30px;
    }

    /* ************************** */
    footer {
        padding: 30px 0;
    }
    
    p.contac {
        font-size: 1.6rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #333;
        padding-bottom: 10px;
        text-shadow: #2fcdcd 2px 2px;
    }
    
    p.mimail {
        font-size: 1rem;
    }
    
    .social-links a {
        font-size: 1.1rem;
        color: #ffffff;
        text-decoration: none;
        transition: color 0.3s;
    }
      
    p.copying {
        font-size: 0.9rem;
        font-stretch: expanded;
        font-stretch:semi-expanded;
        color:rgb(119, 194, 109)
    }
}