* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  /* para que los elementos no salgan del contenedor */
}

nav {
    position:fixed;
    background: #2fcdcd;
    
    top: 0;
    left: 0;

    justify-content: space-arround;
    transition: 0.7s;
    padding: 16px 10px;

    height: 100px;
    width: 100%;
}

nav.abajo {
    background: rgba(2, 136, 136, 0.8);
    padding: 12px 20px;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    border-radius: 2px;
    margin-right: 20px;
    transition: 1s;
}

.nombre {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: 0.5s
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

li a:hover {
    background: rgb(156, 156, 157, 0.6);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

nav.abajo .nombre,
nav.abajo ul li a {
    color: yellow;
}

nav.abajo .logo,
nav.abajo ul li a:hover {
    color:blue;
}

img.logo:hover {
    transform: scale(1.4);
    rotate: 360deg;
}

span.nombre:hover {
    font-size: 1.8rem;
    color: red;
}

/* **** Zona central de la primer pagina **** */ 
#zona1{
    margin-top: 100px;
    background: url(../img/fondo5.jpg) no-repeat;   /* Es para que sea SOLO una imagen */
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 100px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion {
    max-width: 100%;
    text-align: center;
}
  
.presentacion h1 {
    color: #FF4081;
    font-size: 6rem;
    margin-bottom: 10px;
    text-shadow: 6px 4px #070707;
}
  
.presentacion p {
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
}

/* ******** Datos sobre mi ******** */
#sobremi {
    background-color: #fecec1;
    padding: 50px 0;
/*     text-align: center; */
  }
  
.sobremi-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.sobremi-content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
  
section h2 {   /* todos los h2 */
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: blue;
}
  
#proyectos{
    background-color: #e6d3ba;
    padding: 50px 0;
}

.proyect {
    /* padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
  
.proyect img {
    height: 40vh;
    width: 40%;  /* la imagen ocupa el 40% de la fila */
    border-radius: 10px;
    margin-right: 20px;   /* Espaciado entre la imagen y el texto (ajusta según sea necesario) */
}

.proyect-content {
    flex: 1; /* ocupa todo el espacion restante de la fila */
}

/* Añadir márgenes o estilos adicionales según sea necesario */
.proyect h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.proyect p {
    font-size: 1rem;
    color: #555;
}


/* ********************************* */
/* Texto de formulario */
#section_form h2 {
    text-align: center;
    font-size:xx-large;
    padding: 30px 3px 2px 3px;
}

/* Estilos para centrar el formulario en el medio del contenedor */
#section-form {
    max-width: 100%;
    background-image: url(../img/NewSoft.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;   /* para que la imagen quede fija en el fondo */
    padding-bottom: 16px;
}

form {
    /*width: 760px;*/
    max-width: 40%;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 5px;
}

section h2.titulo-form {
    margin: 0;
    padding-top: 16px;
    color: white;
}

form p {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;  /* para que el largo de los campos no se salga fuera del marco*/
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

textarea {
    min-height: 200px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

#boton {
    text-align: center;  /* si el boton fuese type="button" quedaria en el centro, pero como es type="subnit" no queda en el centro */
    background: #31384a;
    color: #fff;
    margin-bottom: 14px;
    padding: 18px;
}

#boton:hover {
    cursor: pointer;
    color: #FF4081;
    transition: 0.4s;
}
















/* ******* Footer ****** */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

p.contac {
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #333;
    padding-bottom: 10px;
    text-shadow: #2fcdcd 2px 2px;
}

p.mimail {
    font-size: 1.2rem;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
  
.social-links li {
    color: #ffffff;
    padding: 8px 10px;
}

.social-links a {
    font-size: 1.4rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}
  
.social-links a:hover {
    color: #2fcdcd;
    background-color: #333;
}

p.copying {
    font-size: 1.1rem;
    font-stretch:ultra-expanded;
    color:rgb(119, 194, 109)
}

/* **** Meedia Query **** */
/* medias query */
@media (max-width: 952px){
    .enlace{
        padding-left: 16px;
        order: 1;
    }

    .nombre {
        font-size: 18px;
    }
    
    nav ul li a{
        font-size: 16px;
    }
}


@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        /* height: 100vh; */
        height: 60vh;
        background: #2c3e50;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        overflow: scroll;
        /* overflow-y: auto; */

    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: red;
    }

    #check:checked ~ ul{
        left:0;
    }
}
