@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    transition: 0.7s;
    /* padding: 16px 10px; */
    height: 90px;
    width: 100%;
    /* width: 100vw; */
    z-index: 100;
}

nav.abajo {
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 10px;
}

.enlace {
    position: absolute;
    height: 70px;
    padding: 6px;
    margin: 8px 0 0 16px;
  
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;

    animation: rotate-logo 6s ease-in-out infinite;
}

/* @keyframes rotate-logo {
    from {
        transform: rotateY(360deg);
    }
} */

@keyframes rotate-logo {
    0% {
        transform: rotateY(360deg);
    }
    60% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.main-name {
    color:#21d5fa;
    font-weight: bold; /* negrita */
    text-transform: uppercase;
    font-size: 1.6rem;

    transition: 0.5s;
} 

.main-name:hover {
    text-shadow: 2px 2px #ffffff;
    transition: 0.5s;
} 

nav ul {
    float: right;
    margin: 3px 20px 4px 4px;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 6px 5px;
}

nav ul li a {
    position: relative;
    color: #21d5fa;
    font-size: 1.125rem;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 12px;
}

/* nuevo */
li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

li a:hover {
    color: #ffffff;
}

li a:hover:after {
    width: 100%;
}

.checkbtn {
    font-size: 34px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* nav.abajo .main-name, */
nav.abajo ul li a {
    color: white;
}

nav.abajo .logo,
nav.abajo ul li a:hover {
    color: #21d5fa;
}

nav.abajo .main-name {
    color: #ffffff;
}

nav.abajo .main-name:hover {
    text-shadow: 2px 2px #21d5fa;
}

/**********************************************/
/* **** Zona central de la primer pagina **** */ 
#zona1{
    background: url(../img/fondo19.jpg) no-repeat;   /* Es para que sea SOLO una imagen */
    background-size: cover;
    background-position: center center;
    /* height: calc(100vh - 100px); */

    /* nuevo */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
}

.presentacion {
    max-width: 100%;
    text-align: center;
}
  
.presentacion h1 {
    color: #FF4081;
    font-size: 5.8rem;
    margin-bottom: 20px;
    text-shadow: 6px 4px #070707;

    /* fotograma */
    animation: slide-in 20s infinite;
    animation-timing-function: linear;
}

/* **** Fotograma de LA INFORMATICA, presentacion h1 **** */
@keyframes slide-in {
    from {
        transform: translateX(180%);
    }
    to {
        transform: translateX(-220%);
    }
}

.presentacion p {
    color: white;
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 5px;
}

/* ******** Datos sobre mi ******** */
#sobremi {
    background-color: #fecec1;
    padding: 120px 50px;
}

.sobremi-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    text-align: justify;
}
  
.sobremi-content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

p.historiamia {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    /* font-size: 2.2rem; */
    font-size: clamp(1.5rem, 2vw + 1rem, 2.188rem);
    color:rgba(46, 2, 95, 0.4);
    padding-bottom: 15px;
}

p.actualidad {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 2rem; */
    font-size: clamp(1.313rem, 2vw + 0.75rem, 2.063rem);
    color:rgba(95, 78, 2, 0.4);
}

section h2 {   /* todos los h2 */
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: blue;
}

/***************************/
/* ****** Lenguajes ****** */
#container-slider {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-image: url(/img/fondoform2.jpg);
    background-position: center;
    background-size: cover;
}

#container-slider h2 {
    padding-top: 120px;
    color: #ffffff;
}

.slider {
    width: 75vw;
    height: 75vh;
    margin: 20px auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    gap: 10px;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 50s linear infinite;
    width: calc(200px * 26);  /* es la cantidad TOTAL de imagenes que pusimos */
}

.slider .slide {
    width: 200px;
    height: 200px;
}

.slider .slide img {
    color: #fff;   /* si la imagen no se carga, entonces de vera el alt= BLANCO */
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 13));
        transform: translateX(calc(-200px * 13));  /* Cantidad que NO se repiten */
    }
}


/* *************************************** */
/* ********** Certificados 3d ************ */
#container-certificad {
    background-color: #f7d9d1;
    /* background-color: #EBE6DC; */
    padding-bottom: 30px;
}

#container-certificad h2 {
    padding-top: 120px;
}

.container-card3d {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
    min-height: auto;
    padding: 10px;
    /* background-color: rgb(18, 80, 138); */
    gap: 1.6rem;
}

.card3d {
    position: relative;
    width: 300px;
    height: 350px;
}

.card3d .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;

    transition: 1.5s;
}

.card3d .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 4px 5px 10px #000000;
}

.card3d .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card3d .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    font-size: 26px;
    line-height: 45px;
    color: #00eeff;
    /* background-color: rgba(85, 106, 107, 0.4); */
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

.card3d .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgb(4, 46, 70);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 4px 5px 10px #000000;
}

.card3d .back .link {
    border-top: 1px solid #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card3d .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card3d .back p {
    font-size: 1.2rem;
    /* text-align: justify; */
    letter-spacing: 1px;
}

.card3d .back .link a {
    /* border-radius: 5px;
    border: 1px solid #0ef; */
    padding: 8px 16px;
    font-size: 1.2rem;
    color: #f3f3f3;
}

.card3d .back .link a:hover {
    color: #00eeff;
}

.card3d:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card3d:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/****** Links de descarga ******/
.container-download {
    display: block;
    text-align: center;
    /* height: 20vh;
    width: 100%; */
    margin-bottom: 30px;
}

.container-download h2 {
    /* font-size: 2em; */   /* los h2 ya tiene el tamaño, aqui le cambiamos el color */
    margin-bottom: 60px;
    color: #86785a;
}

.button-download {
    display: inline;
    text-align: center;
    margin-top: 5px;
    width: 100px;
}

/* pequeña trampita, para que este mas lejos de Python */
.button-download .img3 {
    margin-left: 20px;
}

.button-download a img {
    width: 160px;
    height: 50px;
    margin: 0 20px 60px;
    transition: 0.5s;
}

.button-download a img:hover {
    scale: 1.1;
}


/**********************************************/
/* *********** Card de los proyectos ******** */
#container-proyectos {
    background-color: #f7e9f7;
    padding-bottom: 60px;
}

#container-proyectos h2 {
    padding-top: 120px;
}

.card-container {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(450px, 100%), 1fr));
    grid-auto-rows: 500px;
    gap: 2.2em;
}

.card {
    display: grid;
    grid-template-rows: 50% 10% 30% 10%;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.6);
    background-color: #f0f0f0;
    width: 100%;
    /* height: 600px; */
    object-fit: cover;
    overflow: hidden;
}

.card-img {
    grid-row: 1 / 2; /* Imagen ocupa la primera fila */
    transition: 0.4s;
}

.card-img:hover {
    scale: 1.03;
    transition: 0.4s;
}

.card-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title {
    grid-row: 2 / 3; /* Título ocupa la segunda fila */
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.card-title h3 {
    font-size: 28px;
    margin: 0;
}

.card-description {
    grid-row: 3 / 4; /* Descripción ocupa la tercera fila */
    margin: 0 16px;
    padding-right: 6px;
    display: flex;
    align-items: flex-start;
    overflow-y: scroll; /* Hacer que el contenido desbordado sea desplazable verticalmente */
    max-height: 100%; /* Asegurar que no crezca más allá del contenedor */
    text-align: justify;
}

.card-description p {
    color: #666;
    font-size: 18px;
    padding: 10px 0;
    line-height: 1.2;
}

/* botones de la card */
.card-btns {
    grid-row: 4 / 5;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; /* Espacio entre los botones */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #333;

    padding: 0.5rem 1rem;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    flex: 1;
    text-align: center;
    min-width: 100px;   /* podria poner auto, si se requiere */
}

.btn:hover {
    border: 1px solid #7a8f96;
    color: #185163;
    font-weight: bold;
    /* background-color: #474646; */
}

.btn::after {
    content: "";
    background: #7a8f96; /* color de fondo hover */
    
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.35s ease;
}

.btn:hover::after {
    transition: all 0.35s ease-out;
    transform: scale(1, 1);
  }



/* ************************************************************* */
/* Texto de formulario */
/* Estilos para centrar el formulario en el medio del contenedor */
#section-form {
    max-width: 100%;
    background-image: url(/img/portada.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;   /* para que la imagen quede fija en el fondo */
    padding-bottom: 16px;
}

.titulo-form {
    text-align: center;
    font-size: 2em;
    padding: 120px 3px 2px 3px;
    margin: 0;
    color: white;
    text-shadow: #ff4081 2px 2px;
}

form {
    max-width: 40%;
    margin: auto;
    background-color: rgba(9, 72, 110, 0.5);
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 200px;
    border-radius: 5px;
}

form p {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

input.nombre,
input.apellido {
    text-transform: capitalize;
}

input.email {
    text-transform: lowercase;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;

    font-size: 16px;
    /* el font-family, es mas que nada para el textarea */
    font-family: sans-serif, 'Courier New', Courier, monospace;
    
    border-radius: 5px;
    border: 1px solid rgb(168, 168, 168);
    color: #ffffff;
    background-color: transparent;
}

textarea {
    min-height: 140px;
    max-height: 140px;
    min-width: 100%;
    max-width: 100%;
}

::placeholder {
    color: #bea7bc;
}

.aceptar {
    display: flex;
    flex-direction: row;
}

#check-priv {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.text-priv {
    color: #fff;
    font-size: clamp(0.938rem, 3vw, 1.125rem);
}

#boton {
    cursor: pointer;
    font-size: clamp(1rem, 2vw + 0.25rem, 1.125rem);
    text-align: center;  /* si el boton fuese type="button" quedaria en el centro, pero como es type="subnit" no queda en el centro */
    color: #fff;
    background: transparent;
    border: 0.1px solid #15a4fa;
    margin-bottom: 14px;
    padding: 10px;

    transition: 0.4s;
}

#boton:hover {
    color: #ffffff;
    background-color: #15a4fa;
}


/*************************/
/* ******* Footer ****** */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

p.contac {
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #333;
    padding-bottom: 10px;
    text-shadow: #2fcdcd 2px 2px;
}

.mimail {
    font-size: 1.2rem;
    padding-bottom: 12px;
}

 .mimail a {
    color: #ffffff;
}

.sociales {
    padding-bottom: 10px;
}

.sociales a {
    padding: 0 4px;
}

.linkedin, .github, .facebook, .whatsapp {
    width: 36px;
    height: 36px;
    border-radius: 50px;

    transition: 0.5s;
}

.linkedin:hover, .github:hover,
.facebook:hover, .whatsapp:hover {
    /* background-color: #ffffff; */
    box-shadow: 1px 1px 14px 0 #abacaf, -1px -1px 14px 0 #abacaf;
}

footer .copyright {
    font-size: 1.1rem;
    font-stretch: ultra-expanded;
    color: #fcb4a0;
}



/*************************************/
/* ***** Media Query con 1368px ***** */
@media (max-width: 1368px) {
    .btn-certificad a {
        padding: 4px 16px;
        font-size: 10px;
    }
}


/*************************************/
/* ***** Media Query con 1090px ***** */
@media (max-width: 1090px) {
    nav ul li a {
        font-size: 1rem;
        padding: 0 8px;
    }

    .main-name {
        font-size: 1.4rem;
    } 
}


/*************************************/
/* ***** Media Query con 952px ***** */
@media (max-width: 952px) {
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .main-name {
        font-size: 1.3rem;
    } 

    .checkbtn {
        display: block;
        margin-top: 8px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 76vh;
        background: rgba(44, 62, 80, 0.9);
        top: 90px;
        left: -100%;
        margin: 0;
        text-align: center;
        transition: all .5s;
        overflow-y: auto;
    }

    nav ul li {
        display: block;
        margin: 40px 0;
        line-height: 50px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left:0;
    }

    form {
        max-width: 50%;
    }
}



/*************************************/
/* ***** Media Query con 858px ***** */
/*************************************/
@media (max-width: 858px) {
    .presentacion h1 {
        font-size: 4rem;
        
        animation: slide-in 20s infinite;
        animation-timing-function: linear;
    }
    
    /* **** Fotograma de LA INFORMATICA, presentacion h1 **** */
    @keyframes slide-in {
        from {
            transform: translateX(140%);
        }
        to {
            transform: translateX(-140%);
        }
    }
    
    .presentacion p {
        color: white;
        font-weight: 400;
        font-size: 1.4em;
    }

    .card-description p {
        font-size: 18px;
        line-height: 1.1;
    }

    form {
        max-width: 60%;
    }
}



/*************************************/
/* ***** Media Query con 560px ***** */
/*************************************/
@media (max-width: 560px) {
    .sobremi-content {
        max-width: 96%;
    }
}



/*************************************/
/* ***** Media Query con 490px ***** */
/*************************************/
@media (max-width: 490px) {
    .presentacion h1 {
        font-size: 3rem;
        /* fotograma */
        animation: slide-in 18s infinite;
        animation-timing-function: linear;
    }
    
    /* **** Fotograma de LA INFORMATICA, presentacion h1 **** */
    @keyframes slide-in {
        from {
            transform: translateX(120%);
        }
        to {
            transform: translateX(-120%);
        }
    }
    
    .presentacion p {
        color: white;
        font-weight: 300;
        font-size: 30px;
    }

    /*  p.historiamia {
        font-size: 1.8rem;
    }
    
    p.actualidad {
        font-size: 1.7rem;
    } */

    .card {
        grid-template-rows: 48% 10% 30% 12%;
    }

    .card-title h3 {
        font-size: 22px;
    }
    
    .card-description p {
        font-size: 15px;
        line-height: 1.1;
    }

    .btn {
        padding: 0.3rem 1rem;
         min-width: 80px;
    }

    section h2,
    .titulo-form {
        font-size: 1.5em;
    }

    form {
        max-width: 86%;
    }

    /* ************************** */
    footer {
        padding: 30px 0;
    }
    
    p.contac {
        font-size: 1.6rem;
    }
    
    p.mimail {
        font-size: 1rem;
    }
    
    .social-links a {
        font-size: 1.1rem;
        color: #ffffff;
        text-decoration: none;
        transition: color 0.3s;
    }
      
    footer .copyright {
        font-size: 0.74rem;
        font-stretch: normal;
    }
}



/*************************************/
/* ***** Media Query con 430px ***** */
/*************************************/
@media (max-width: 430px) {
    .logo {
        height: 40px;
        width: 40px;
    }
    
    .container-certificad {
        height: 86vh;
        width: 66%;
        gap: 1.5rem;
    }

    .btn-certificad a {
        padding: 2px 16px;
        margin-bottom: 6px;
        font-size: 10px;
    }

    .button-download a img {
        width: 120px;
        height: 30px;
        margin: 4px 15px;
        transition: 0.5s;
    }
}
